* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#screen {
    width: 100vw;
    height: 56.25vw;
}

#game {
    position: relative;
    width: 100%;
    height: 100%
}

#background {
    position: absolute;
    top: 0;
    left 0;
    width: 100vw;
    height: 56.25vw;
    background-image: url(SVG/BG.svg);
    background-size: 100%;
    object-fit: fill;
}

#foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
    background-image: url(SVG/FG.svg);
    background-size: 100%;
    pointer-events: none;
}

/* --------------EFFECTS----------------
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
} */

/* ANIMATIONS (and why would I need certain ones?) */

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframe fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* I do not understand the following, including the keyframe */

.disappear {
    animation-name: disappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes disappear_kf {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0);
    }

}

/* ------ FROM THE FIRST LINE OF CODE BY ADAM ------

.mushroom {
  position: absolute;
  left: 400px;
  top: 600px;
  width: 100px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 2s;
} 
*/

.pickedUp {
    animation: pickUp 2s linear forwards;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

/* ------ THE SCORE CODE WRITTEN BY ADAM -----
h1 {
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}*/


.enlarge {
    animation-name: enlarge_kf;
    animation-duration: 2s
        /* gotta check this */
        /* animation-direction: no idea */
        animation-timing-function: ease-out
        /* also have to check if in or out */
}

@keyframes enlarge_kf {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.pickup {
    animation-name: pickup_kf;
    animation-duration: 3s;
    /* IDK what other animation is needed */
}

@keyframes pickUp {
    0% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }

    90% {
        transform: translateX(-380px) translateY(-600px) scale(0.4);
        opacity: 1;
    }

    100% {
        transform: translateX(-380px) translateY(-600px) scale(0.4);
        opacity: 0;
    }
}

/* THE MUSHROOMS */

#mushroom_sprite0 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/poisonous.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite1 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/blue.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite2 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/purple.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite3 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/inedible.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite4 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/red.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite5 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/green.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite6 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/gray.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite7 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/inedible.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_sprite8 {
    width: 12vw;
    height: 13vw;
    background-image: url(SVG/orange.svg);
    background-size: 100%;
    cursor: pointer;
}

#mushroom_container0,
#mushroom_container1,
#mushroom_container2,
#mushroom_container3,
#mushroom_container4,
#mushroom_container5,
#mushroom_container6,
#mushroom_container7,
#mushroom_container8 {
    position: absolute;
}

.position0 {
    top: 21vw;
    left: 41vw;
    /*transform: scale(1.2)*/
}

.position1 {
    top: 18vw;
    left: 15vw;
}

.position2 {
    top: 21vw;
    left: 57vw;
}

.position3 {
    top: 25vw;
    left: 25vw;
}

.position4 {
    top: 38vw;
    left: 35vw;
}

.position5 {
    top: 32vw;
    left: 74vw;
}

.position6 {
    top: 41vw;
    left: 52vw;
}

.position7 {
    top: 13vw;
    left: 75vw;
}

.position8 {
    top: 41.5vw;
    left: 21.3vw;
}

#score {
    position: absolute;
    width: 15vw;
    height: 5vw;
    top: auto;
    left: auto;
    background-image: url();
    background-size: 100%;
}

/* the timebar below doesn't work for some reason - it doesn't show in top of the timer.*/

#timebar {
    position: absolute;
    width: 30vw;
    height: 5vw;
    top: 3vw;
    left: 74vw;
    background-image: url(SVG/barmdpi.svg);
    background-size: 100%;

}

#time {
    position: absolute;
    width: 35vw;
    height: 5.3vw;
    top: 3vw;
    left: 31vw;
    background-image: url(SVG/Timemdpi.svg);
    background-size: 100%;
}

.bar {
    top: 20vw:;
    left: 12vw;
}

#health {
    position: absolute;
    width: 17vw;
    height: 5vw;
    top: 3vw;
    left: 74vw;
    background-image: url(SVG/HealthBarmdpi.svg);
    background-size: 100%;
}

#heart1 {
    position: absolute;
    width: 3vw;
    height: 2.5vw;
    background-image: url(SVG/heart1mdpi.svg);
    background-size: 100%;
}

.heart_1 {
    top: 1.3vw;
    left: 5.5vw
}

#heart2 {
    position: absolute;
    width: 3vw;
    height: 2.5vw;
    background-image: url(SVG/heart1mdpi.svg);
    background-size: 100%;
}

.heart_2 {
    top: 1.3vw;
    left: 9.2vw
}

#heart3 {
    position: absolute;
    width: 3vw;
    height: 2.5vw;
    background-image: url(SVG/lostHeartmdpi.svg);
    background-size: 100%;
}

.heart_3 {
    top: 1.3vw;
    left: 13vw
}

/*#points {
    position: absolute;
    left: 50px;
    top: 50px;
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    width: 7vw;
    height: 7vw;
    place-items: center;
    border-radius: 50%;
}*/
